@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    font-family: 'Eczar', serif;
}
body {
    position: relative;
    min-width: 521px;
}
header {
    position: relative;
    width: 100%;
    line-height: 180px;
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
}
section {
    width: 100%;
    background: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.img-space img {
    margin: auto;
    width: 80%;
    height: auto;
}
footer {
    text-transform: capitalize;
    padding-left: 20px;
    width: 100%;
    height: 30px;
    background: #333;
    color: #ccc;
}
/* site logo */
.site-logo {
    width: 100%;
    height: 180px;
    background-image: url("./img/site-logo.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-transform: capitalize;
    text-align: right;
    text-shadow: 0 0 10px rgba(3,3,3,.8);
}
.discription {
    display: inline-block;
    height: 150px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 40px;
    color: rgba(255,255,255,.6);
}
/* nav design */
ul li {
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
}
.global-nav {
    height: 30px;
    line-height: 30px;
    background: #333;
    text-align: left;
}
.global-nav li {
    position: relative;
    text-align: center;
}
.global-nav li a {
    color: #ccc;
}
.second-nav {
    position: absolute;
    visibility: hidden;
    background: #444;
    opacity: 0;
    transform: scale(0, .7);
}
.second-nav li {
    padding: 0;
    margin: 0;
    visibility: hidden;
    font-size: .8em;
    opacity: 0;
    /* background: #444; */
    transform: scale(0, .7);
}

/* hover effects */
.global-nav li:hover {
    background: #555;
    color: #fff;
    opacity: 1;
}
.global-nav li:hover .second-nav {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
    transition: all .25s ease-out;
}
.global-nav li:hover .second-nav li{
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
    transition: all .25s ease-out;
}
.second-nav li:hover a {
    color: #fff;
    opacity: 1;
}

/* fadein animetion */
.fadein {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 500ms;
}
.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}